<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="empleado">
      <h2 data-cy="empleadoDetailsHeading"><span jhiTranslate="stipruebaApp.empleado.detail.title">Empleado</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stipruebaApp.empleado.nombre">Nombre</span></dt>
        <dd>
          <span>{{ empleado.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="stipruebaApp.empleado.apellido">Apellido</span></dt>
        <dd>
          <span>{{ empleado.apellido }}</span>
        </dd>
        <dt><span jhiTranslate="stipruebaApp.empleado.nickname">Nickname</span></dt>
        <dd>
          <span>{{ empleado.nickname }}</span>
        </dd>
        <dt><span jhiTranslate="stipruebaApp.empleado.email">Email</span></dt>
        <dd>
          <span>{{ empleado.email }}</span>
        </dd>
        <dt><span jhiTranslate="stipruebaApp.empleado.telefono">Telefono</span></dt>
        <dd>
          <span>{{ empleado.telefono }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/empleado', empleado.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
