<div>
  <h2 id="page-heading" data-cy="ActividadHeading">
    <span jhiTranslate="stipruebaApp.actividad.home.title">Actividads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="stipruebaApp.actividad.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-actividad"
        [routerLink]="['/actividad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="stipruebaApp.actividad.home.createLabel"> Create a new Actividad </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="actividads?.length === 0">
    <span jhiTranslate="stipruebaApp.actividad.home.notFound">No actividads found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="actividads && actividads.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="stipruebaApp.actividad.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estatus">
            <span jhiTranslate="stipruebaApp.actividad.estatus">Estatus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaInicio">
            <span jhiTranslate="stipruebaApp.actividad.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaFin">
            <span jhiTranslate="stipruebaApp.actividad.fechaFin">Fecha Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="diasRetraso">
            <span jhiTranslate="stipruebaApp.actividad.diasRetraso">Dias Retraso</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empleado.nickname">
            <span jhiTranslate="stipruebaApp.actividad.empleado">Empleado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actividad of actividads; trackBy: trackId" data-cy="entityTable">
          <td>{{ actividad.descripcion }}</td>
          <td jhiTranslate="{{ 'stipruebaApp.Estatus.' + actividad.estatus }}">{{ actividad.estatus }}</td>
          <td>{{ actividad.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ actividad.fechaFin | formatMediumDatetime }}</td>
          <td>{{ actividad.diasRetraso }}</td>
          <td>
            <div *ngIf="actividad.empleado">
              <a [routerLink]="['/empleado', actividad.empleado?.id, 'view']">{{ actividad.empleado?.nickname }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/actividad', actividad.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/actividad', actividad.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(actividad)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="actividads && actividads.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
